*.la
*.lo
*.o
*~
.deps
.libs
/ChangeLog
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/INSTALL
/TAGS
/configure.ac
/debian/changelog
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gpicker
gpicker-simple
gpicker.pc
install-sh
libtool
ltmain.sh
missing
scorer-tests
stamp-h1
